<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue ToDo List</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <!-- INIZIO PAGINA -->
    <div id="root">

        <!-- INPUT TEXT & BUTTON -->
        <div class="inputs">
            <input v-model="newTodoList.text" type="text" placeholder="Nuovo Todo">
            <button @click="addNewTodo()">Aggiungi</button>
        </div>

        <div class="todo-contain">

            <ul v-if="todos.length > 0" class="todos-list">
                <!-- template base todo lists -->
                <li v-for="singleTodo, index in todos" class="todo">
                    <span :class="{'isDone': singleTodo.done }">
                        {{ singleTodo.text }}
                    </span>
                    <!-- cancella todo list -->
                    <div class="actions">
                        <span @click="removeTodo(index)" class="cross">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </span>
                    </div>
                </li>
            </ul>
    
        </div>

    </div>
    
</body>

<script type="text/javascript" src="script.js"></script>

</html>